<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Protocol Oriented Programming View with Bob.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C45E06B61E2CF7B90055796E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C45E06CD1E2CF7BA0055796E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C45E06D81E2CF7BA0055796E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
